/*css public start*/
.floatfix {
*zoom: 1;
}
.floatfix:after {
content: "";
display: table;
clear: both;
}
/*css public end*/

/*slider start*/
.slider-contaner{

position:relative;
top: 1rem;
left: 50%;
width:80%;
margin-left: -40%;
height:25rem;
}
.slider-item + .slider-item{
opacity:0;
}
.slider-item{
width:100%;
height:25rem;
position:absolute;
animation-timing-function: linear;
animation-name:fade;
animation-iteration-count: infinite;
background-size:cover;
}
.focus-container{
position:absolute;
z-index:7;
margin:0 auto;
left:0;
right:0;
}
.focus-container li{
width:10px;
height:10px;
border-radius:50%;
float:left;
margin-right:10px;
background:#fff;
}
.focus-item{
width:100%;
height:100%;
border-radius:inherit;
animation-timing-function: linear;
animation-name:fade;
animation-iteration-count: infinite;
}
.focus-item2,.focus-item3,.focus-item4,.focus-item5{
opacity:0;
}
.focus-container ul{
margin-left:46%;
}
/*设置轮播焦点的位置*/
.focus-container{
bottom:5%;
}
/*设置当前图片焦点的颜色*/
.focus-item{
background:#51B1D9;
}
/*设置动画，请根据实际需要修改秒数*/
.slider-item,.focus-item{
animation-duration:10s;
}
.slider-item1,.focus-item1{
animation-delay: -1s;
}
.slider-item2,.focus-item2{
animation-delay: 3s;
}
.slider-item3,.focus-item3{
animation-delay: 7s;
}
@keyframes fade{
0%{
opacity:0;
z-index:2;
}

50%{
opacity:1;
z-index:1;
}

100%{
opacity:0;
z-index:0;
}
}
/*/*设置背景，响应式请利用媒体查询根据断点修改路径*/
.slider-item1{
background:url(../img/banner1.png) no-repeat  center center; 
/*background: green*/
}
.slider-item2{
	/*background: red*/
background:url(../img/banner2.png) no-repeat  center center; 
}
.slider-item3{
	/*background: orange*/
background:url(../img/banner3.png)no-repeat  center center; 
}
/*设置图片的高度，请根据具体需要修改百分比，响应式及时修改此值*/
.slider-item {
			/*margin:0px; padding:0px*/
			background-size: 90% 100%;
  			height:25rem;
}
center{

	width:80%;
	margin:2rem auto ;
	height:20rem ;
}
center #contents{
	width:80%;
	margin:0 auto;
	height:20rem;
}
center #contents h2{
	font-size: 24px;
	color:red;
	padding: 1rem 0;
}
center #contents #wuyou{
	width:80%;
	height:80%;
	min-width: 670px;
}
center #contents #wuyou li{
	width:30%;
	height:8rem;
	float: left;padding:0 4rem;
}
center #contents #wuyou li img{
	height:100%;
}

.downs{
	width:100%;
	margin-top: 1rem;
	border-radius: 10px;
	display: inline-block;
	height:2rem;
	line-height: 2rem;
	text-decoration: none;
	color: #ffffff;
	background: #544f4f;
}